{%- capture gfonts2 -%}
{%- assign fonts = site.data.fonts.families | where: "platform", "google" -%}
{%- for font in fonts -%}
  {%- unless forloop.first -%}&family={%- endunless -%}
  {{- font.family | replace: " ", "+" -}}
  {%- if font.spec and font.spec.axes and font.spec.tuples -%}
    {{- font.spec.axes | join: "," | prepend: ":" | append: "@" -}}
    {{- font.spec.tuples | join: ";" -}}
  {%- endif -%}
{%- endfor -%}
{%- endcapture %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family={{ gfonts2 }}&display=swap">