$-sans-serifs: ("Open sans", "sans-serif");
$-serifs: ("Georgia", "Palatino", "Palatino Linotype", "Times", "Times New Roman", "serif");


$hx-family: $-serifs;
$hx-family-sans: $-sans-serifs;
$default-family: $-sans-serifs;

$default-size: 16px;

$default-line-height: 1.5;

$weight-normal: 400;
$weight-medium: 600;
$weight-bold: 700;
