.material-symbols-outlined {
  box-sizing: border-box;
  font-size: inherit;
  line-height: 0;
  font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
}

.material-symbols-rounded {
  box-sizing: border-box;
  font-size: inherit;
  line-height: 0;
  font-variation-settings:
      'FILL' 1,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
}