@use "sass:list";
$-sans-serifs: ("sans-serif") !default;
$-serifs: ("serif") !default;

$hx-family: $-serifs;
// $sub-hx-family: list.set-nth($-serifs, 1, list.nth($-serifs, 4));
$sub-hx-family: $-sans-serifs;
$hx-family-sans: $-sans-serifs;
$default-family: $-sans-serifs;

$default-size: 16px;

$default-line-height: 1.5;

$weight-normal: 400;
$weight-medium: 600;
$weight-bold: 700;
