/*
@use "sass:list";
@use "sass:map";
$-sans-serifs: ("sans-serif") !default;
$-serifs: ("serif") !default;

$hx-family: $-serifs;
// $sub-hx-family: list.set-nth($-serifs, 1, list.nth($-serifs, 4));
$sub-hx-family: $-sans-serifs;
$hx-family-sans: $-sans-serifs;
$default-family: $-sans-serifs;

$default-size: 16px;
$m3-typography: (
    "headline": (
        "large": (
            "size": 32px,
            "weight": 400,
            "line-height": normal,
            "family": $-sans-serifs,
        ),
        "medium": (
            "size": 28px,
            "weight": 400,
            "line-height": normal,
            "family": $-sans-serifs,
        ),
        "small": (
            "size": 24px,
            "weight": 400,
            "line-height": normal,
            "family": $-sans-serifs,
        ),
    ),
    "title": (
        "large": (
            "size": 22px,
            "weight": 400,
            "line-height": normal,
            "family": $-sans-serifs,
        ),
        "medium": (
            "size": 16px,
            "weight": 500,
            "line-height": normal,
            "family": $-sans-serifs,
        ),
        "small": (
            "size": 14px,
            "weight": 500,
            "line-height": normal,
            "family": $-sans-serifs,
        ),
    ),
    "body": (
        "large": (
            "size": 16px,
            "weight": 400,
            "line-height": normal,
            "family": $-sans-serifs,
        ),
        "medium": (
            "size": 14px,
            "weight": 400,
            "line-height": normal,
            "family": $-sans-serifs,
        ),
        "small": (
            "size": 12px,
            "weight": 400,
            "line-height": normal,
            "family": $-sans-serifs,
        ),
    ),
    "label": (
        "large": (
            "size": 14px,
            "weight": 500,
            "weight-prominent": 700,
            "line-height": normal,
            "family": $-sans-serifs,
        ),
        "medium": (
            "size": 12px,
            "weight": 500,
            "weight-prominent": 700,
            "line-height": normal,
            "family": $-sans-serifs,
        ),
        "small": (
            "size": 11px,
            "weight": 500,
            "line-height": normal,
            "family": $-sans-serifs,
        ),
    ),
);

@function typography($name, $size, $attr) {
    $value: map.get($m3-typography, $name, $size, $attr);
    @if $value {
        @return $value;
    }
    @if $attr == "weight-prominent" {
        @return typography($name, $size, "weight-prominent");
    }
    @if $size == "small" {
        @return typography($name, "medium", $attr);
    }
    @if $size == "medium" {
        @return typography($name, "large", $attr);
    }
    @if $size == "large" {
        @return map.get($m3-typography, $name, "small", $attr);
    }
    @error "invalid size '#{$size}' must be 'small' 'medium' or 'large'";
}

@mixin -set-font($size: null, $weight: null, $line-height: null, $style: null, $family: null) {
    @if $size {
        font-size: $size;
    }
    @if $weight {
        font-weight: $weight;
    }
    @if $line-height {
        font-weight: $line-height;
    }
    @if $style {
        font-style: $style;
    }
}
@mixin -configure-font($name, $size, $prominent: false) {
    @include -set-font(
        $size: typography($name, $size, "size"),
        $weight: typography($name, $size, "weight"),
        $line-height: typography($name, $size, "line-height"),
        $style: typography($name, $size, "style"),
        $family: typography($name, $size, "family"),
    );
}
@mixin font-headline-large {
    @include -configure-font("headline", "large");
}
@mixin font-headline-medium {
    @include -configure-font("headline", "medium");
}
@mixin font-headline-small {
    @include -configure-font("headline", "small");
}
@mixin font-title-large {
    @include -configure-font("title", "large");
}
@mixin font-title-medium {
    @include -configure-font("title", "medium");
}
@mixin font-title-small {
    @include -configure-font("title", "small");
}
@mixin font-body-large {
    @include -configure-font("body", "large");
}
@mixin font-body-medium {
    @include -configure-font("body", "medium");
}
@mixin font-body-small {
    @include -configure-font("body", "small");
}
@mixin font-label-medium {
    @include -configure-font("label", "medium");
}
@mixin font-label-large {
    @include -configure-font("label", "large");
}
@mixin font-label-small {
    @include -configure-font("label", "small");
}

$default-line-height: 1.5;

$weight-normal: 400;
$weight-medium: 600;
$weight-bold: 700;
*/