@use "sass:color";

@function apply-scrim($color, $amount: 80%) {
    @return color.mix($color, $scrim, $amount);
}

@mixin configure($light: true) {
    @if $light {
        @include light-colors;
    } @else {
        @include dark-colors;
    }
    
    $scrim-05: color.change($scrim, $alpha: 0.05) !global;
    $scrim-10: color.change($scrim, $alpha: 0.10) !global;
    $shadow-05: color.change($shadow, $alpha: 0.05) !global;
    $shadow-50: color.change($shadow, $alpha: 0.50) !global;
}

@mixin light-colors {
    $primary: #216487 !global;
    $surface-tint: #216487 !global;
    $on-primary: #ffffff !global;
    $primary-container: #c6e7ff !global;
    $on-primary-container: #001e2d !global;
    $secondary: #4f616e !global;
    $on-secondary: #ffffff !global;
    $secondary-container: #d2e5f4 !global;
    $on-secondary-container: #0b1d28 !global;
    $tertiary: #62597c !global;
    $on-tertiary: #ffffff !global;
    $tertiary-container: #e8ddff !global;
    $on-tertiary-container: #1e1635 !global;
    $error: #ba1a1a !global;
    $on-error: #ffffff !global;
    $error-container: #ffdad6 !global;
    $on-error-container: #410002 !global;
    $background: #f6fafe !global;
    $on-background: #181c1f !global;
    $surface: #f6fafe !global;
    $on-surface: #181c1f !global;
    $surface-variant: #dde3ea !global;
    $on-surface-variant: #41484d !global;
    $outline: #71787e !global;
    $outline-variant: #c1c7ce !global;
    $shadow: #000000 !global;
    $scrim: #000000 !global;
    $inverse-surface: #2d3135 !global;
    $inverse-on-surface: #eef1f6 !global;
    $inverse-primary: #92cef5 !global;
    $primary-fixed: #c6e7ff !global;
    $on-primary-fixed: #001e2d !global;
    $primary-fixed-dim: #92cef5 !global;
    $on-primary-fixed-variant: #004c6b !global;
    $secondary-fixed: #d2e5f4 !global;
    $on-secondary-fixed: #0b1d28 !global;
    $secondary-fixed-dim: #b6c9d8 !global;
    $on-secondary-fixed-variant: #374955 !global;
    $tertiary-fixed: #e8ddff !global;
    $on-tertiary-fixed: #1e1635 !global;
    $tertiary-fixed-dim: #ccc1e9 !global;
    $on-tertiary-fixed-variant: #4a4263 !global;
    $surface-dim: #d7dadf !global;
    $surface-bright: #f6fafe !global;
    $surface-container-lowest: #ffffff !global;
    $surface-container-low: #f0f4f8 !global;
    $surface-container: #ebeef3 !global;
    $surface-container-high: #e5e8ed !global;
    $surface-container-highest: #dfe3e7 !global;
}

@mixin dark-colors {
    $primary: #92cef5 !global;
    $surface-tint: #92cef5 !global;
    $on-primary: #00344b !global;
    $primary-container: #004c6b !global;
    $on-primary-container: #c6e7ff !global;
    $secondary: #b6c9d8 !global;
    $on-secondary: #21323e !global;
    $secondary-container: #374955 !global;
    $on-secondary-container: #d2e5f4 !global;
    $tertiary: #ccc1e9 !global;
    $on-tertiary: #332c4b !global;
    $tertiary-container: #4a4263 !global;
    $on-tertiary-container: #e8ddff !global;
    $error: #ffb4ab !global;
    $on-error: #690005 !global;
    $error-container: #93000a !global;
    $on-error-container: #ffdad6 !global;
    $background: #101417 !global;
    $on-background: #dfe3e7 !global;
    $surface: #101417 !global;
    $on-surface: #dfe3e7 !global;
    $surface-variant: #41484d !global;
    $on-surface-variant: #c1c7ce !global;
    $outline: #8b9198 !global;
    $outline-variant: #41484d !global;
    $shadow: #000000 !global;
    $scrim: #000000 !global;
    $inverse-surface: #dfe3e7 !global;
    $inverse-on-surface: #2d3135 !global;
    $inverse-primary: #216487 !global;
    $primary-fixed: #c6e7ff !global;
    $on-primary-fixed: #001e2d !global;
    $primary-fixed-dim: #92cef5 !global;
    $on-primary-fixed-variant: #004c6b !global;
    $secondary-fixed: #d2e5f4 !global;
    $on-secondary-fixed: #0b1d28 !global;
    $secondary-fixed-dim: #b6c9d8 !global;
    $on-secondary-fixed-variant: #374955 !global;
    $tertiary-fixed: #e8ddff !global;
    $on-tertiary-fixed: #1e1635 !global;
    $tertiary-fixed-dim: #ccc1e9 !global;
    $on-tertiary-fixed-variant: #4a4263 !global;
    $surface-dim: #101417 !global;
    $surface-bright: #353a3d !global;
    $surface-container-lowest: #0a0f12 !global;
    $surface-container-low: #181c1f !global;
    $surface-container: #1c2024 !global;
    $surface-container-high: #262a2e !global;
    $surface-container-highest: #313539 !global;
}

$primary: #000000;
$surface-tint: #000000;
$on-primary: #000000;
$primary-container: #000000;
$on-primary-container: #000000;

$secondary: #000000;
$on-secondary: #000000;
$secondary-container: #000000;
$on-secondary-container: #000000;

$tertiary: #000000;
$on-tertiary: #000000;
$tertiary-container: #000000;
$on-tertiary-container: #000000;

$error: #000000;
$on-error: #000000;
$error-container: #000000;
$on-error-container: #000000;

$background: #000000;
$on-background: #000000;

$surface: #000000;
$on-surface: #000000;
$surface-variant: #000000;
$on-surface-variant: #000000;

$outline: #000000;
$outline-variant: #000000;
$shadow: #000000;
$scrim: #000000;

$inverse-surface: #000000;
$inverse-on-surface: #000000;
$inverse-primary: #000000;

$primary-fixed: #000000;
$on-primary-fixed: #000000;
$primary-fixed-dim: #000000;
$on-primary-fixed-variant: #000000;
$secondary-fixed: #000000;
$on-secondary-fixed: #000000;
$secondary-fixed-dim: #000000;
$on-secondary-fixed-variant: #000000;
$tertiary-fixed: #000000;
$on-tertiary-fixed: #000000;
$tertiary-fixed-dim: #000000;
$on-tertiary-fixed-variant: #000000;

$surface-dim: #000000;
$surface-bright: #000000;
$surface-container-lowest: #000000;
$surface-container-low: #000000;
$surface-container: #000000;
$surface-container-high: #000000;
$surface-container-highest: #000000;

$shadow-05: #000000;
$shadow-50: #000000;
$scrim-05: #000000;
$scrim-10: #000000;

@include configure(true);