<footer>
    <div class="content">
        <span>
            More projects by
            <a href="{{ site.data.accounts.github.profile_link }}">
                {{ site.owner.name }}
            </a>
            on 
            <a href="{{ site.data.accounts.github.repositories_link }}">
                GitHub
            </a>
        </span>
        <br>
        <span>
            Visit profile on <a href="{{ site.data.accounts.hackerrank.profile_link }}">HackerRank</a>
        </span>
    </div>
</footer>
