<!-- <header name="topbar-header" id="topbar-header">
  <div class="primary-border-base">
      <div class="header-text">
        <h1 style="padding-bottom: 0.16667em">{{ site.title | default: site.github.repository_name }}</h1>

        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
      </div>
  </div>
</header>
 -->
 <!-- 
<img src="/assets/svg/logo-trimmed.svg" alt="logo" class="logo">
  -->
<header name="topbar-header" id="topbar-header">
  <span class="top">
    <h1>
      <img src="/assets/svg/logo-trimmed-light.svg" alt="logo" class="logo">
      <!-- {{- site.owner.name }} -->
    </h1>
    <h2>
      <!-- {{ site.owner.tagline }} -->
    </h2>
  </span>
</header>