<div id="top-menu-bar" class="top-menu-bar">
  <input type="checkbox" name="nav-menu-box" id="nav-menu-box" class="menu-toggle">

  <label for="nav-menu-box" class="nav-menu-label">
    <span class="material-symbols-rounded"></span>
  </label>

  <nav class="nav-menu-bar">
    {% for p in site.data.nav -%}
    <div class="nav-item">
      {%- capture cls -%}
      {%- if page.url contains p.link and p.link != "/" or page.url == p.link -%}
        current-nav
      {%- else -%}
        other-nav
      {%- endif -%}
      {%- endcapture -%}
      <a href="{{ p.link }}" class="{{- cls -}}">
        <span class="nav-item-content">
          <div class="nav-icon">
            <span class="material-symbols-rounded">{{ p.m3-icon }}</span>
          </div>
          <div class="nav-label">
            {{- p.name -}}
          </div>
        </span>
      </a>
    </div>
    {%- endfor %}
  </nav>
</div>
