<!-- 
<div class="hamburger-menu">
    <input type="checkbox" name="ham-box" id="ham-box" class="menu-toggle">
    <label for="ham-box" class="menu-label">
        <span class="menu-label-uncheck">
            <span class="material-symbols-rounded">menu</span>
        </span>
        <span class="menu-label-check">
            <span class="material-symbols-rounded">close</span>
        </span>
    </label>
    <div class="menu-content">
        <nav>
            <ul class="menu-ul">
                {% for p in site.data.nav -%}
                <li class="menu-li"><a 
                        href="{{ p.link }}" 
                        class="{% if page.url contains p.link %}current{% else %}other{% endif %}"
                        ><h2>
                            {{- p.name -}}
                    </h2></a></li>
                {%- endfor %}
            </ul>
        </nav>
    </div>
</div>
 -->

<div class="top-menu-bar">
    <img src="/assets/svg/logo-trimmed-light.svg" alt="logo" class="favlogo">
    <nav class="nav-menu-bar">
        {% for p in site.data.nav -%}
        <div class="nav-item"><a href="{{ p.link }}" class="{% if page.url contains p.link %}current-nav{% else %}other-nav{% endif %}">{{ p.name }}</a></div>
        {%- endfor %}
    </nav>
</div>
