<div class="top-menu-bar">
    <input type="checkbox" name="nav-menu-box" id="nav-menu-box" class="menu-toggle">
    <label for="nav-menu-box" class="nav-menu-label-unchecked">
        <span class="material-symbols-rounded">menu</span>
    </label>
    <label for="nav-menu-box" class="nav-menu-label-checked">
        <span class="material-symbols-rounded">close</span>
    </label>
    <nav class="nav-menu-bar">
        {% for p in site.data.nav -%}
        <div class="nav-item"><a href="{{ p.link }}" class="{% if page.url contains p.link %}current-nav{% else %}other-nav{% endif %}">
            <span class="nav-item-content">
                <div class="nav-icon">
                    <span class="material-symbols-rounded">{{ p.m3-icon }}</span>
                </div>
                <div class="nav-label">
                    {{- p.name -}}
                </div>
            </span>
        </a></div>
        {%- endfor %}
    </nav>
</div>
