@use "sass:color" as clr;

$-pink: #e693cc;
$-red-pink: #e69b95;

$primary: #7c334f;
$on-primary: #ece4d8;
$primary-container: #ffd9dc;
$on-primary-container: $on-primary;

$secondary: #cd596b;
$on-secondary: #ffffff;
$secondary-container: #3b0713;
$on-secondary-container: #ece4d8;

$tertiary: #5b7f98;
$on-tertiary: #c7e7ff;
$tertiary-container: #7eb0d2;
$on-tertiary-container: black;

$surface: #ece4d8;
$on-surface: #000000;
$on-surface-alt: black;
$surface-container: #f5ebe1;
$on-surface-container: black;

$outline: #847374;
$outline-alt: #d7c1c2;

$shadow: black;
