@use "sass:color";
@use "theme/m3-color" as c;
@use "theme/font";
@use "common/util";

// Common
$-vmax-width: 450px;
$-medium-padding: 16px;
$-large-padding: 32px;
$-main-bg: c.$surface;

main.main-about {
    background-color: $-main-bg;
}

.welcome {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    background-color: c.$primary;
    color: c.$on-primary;
    text-align: left;
    padding: {
        left: $-medium-padding;
        right: $-medium-padding;
    }
    min-height: 100vh;
    
    h1 {
        display: inline-block;
        @include font.font-headline-large();
        $-line-size: 0.125em;
        text-decoration: underline c.$inverse-primary $-line-size;
        margin-right: 0.25em;
        margin-block-end: $-line-size;
        font-weight: 700;
        @include util.text-shadow-prominent();
    }
}

.about-me-tagline {
    display: inline-block;
    margin: unset;
    padding: unset;
    @include font.font-body-medium();
    font-weight: 500;
}

// Self description

.self-description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 16px;
    min-height: 100vh;
    min-width: 100vw;
    padding: 16px;
    background-color: c.$primary-container;
    color: c.$on-primary-container;

    .about-me-header {
        @include font.font-headline-large();
        font-weight: 700;
        $-underlin-size: 0.125em;
        text-decoration: underline solid c.$primary $-underlin-size;
        margin-block-end: $-underlin-size;
        @include util.text-shadow-prominent();
    }
}

.about-me-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
    gap: 16px;

    .description-content {
        @include font.font-body-medium();

        max-width: 40em;
        min-width: 20em;
        flex: 3 1 60%;
        
        p:first-child {
            margin-top: 0;
            padding-top: 0;
        }
    }
    
    img {
        flex: 1 2 30%;
        max-width: min(400px, 75%);
        min-width: 200px;
        max-height: 75vh;
        object-fit: contain;
        object-position: 0 0;
        border-radius: 16px;
        
        @media (max-width: $-vmax-width) {
            max-width: 100%;
        }
    }
}
