@use "theme/m3-color" as c;
@use "theme/font";

footer#page-footer {
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-block-start: 16px;
    padding-block-end: 16px;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    border: {
        style: solid;
        color: c.$outline-variant;
        top-width: 1px;
    }
    
    background-color: c.$surface-container-lowest;
    @include font.font-body-small();

    h2 {
        @include font.font-title-medium();
        font-variation-settings: 'wght' 600;
    }
    
    a {
        color: c.$secondary;
    }
}

section#page-footer-logo-container {
    text-align: end;
    align-self: flex-start;

    h2 {
        text-decoration: underline c.$primary solid .125em;
        @include font.font-headline-small();
        font-weight: 700;
    }
    p {
        margin: unset;
        font-style: italic;
        @include font.font-body-large();
    }
}

svg#page-footer-logo {
    height: 1em;
    min-width: 1em;
    min-height: 1em;
    vertical-align: bottom;
    margin-inline-end: 0.25em;
}

.footer-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
}

#footer-link-groups {
    @include font.font-body-medium();

    ul {
        margin: unset;
        margin-block-start: 8px;
        padding: unset;
    }
}