@use "theme";

footer#page-footer {
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-block-start: 16px;
    padding-block-end: 16px;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    border: {
        style: solid;
        color: theme.$outline-variant;
        top-width: 1px;
    }
    
    background-color: theme.$surface-container-lowest;
    @include theme.font-body-small();

    h2 {
        @include theme.font-title-medium();
        font-variation-settings: 'wght' 600;
    }
    
    a {
        color: theme.$secondary;
    }
}

section#page-footer-logo-container {
    text-align: end;
    align-self: flex-start;

    h2 {
        text-decoration: underline theme.$primary solid .125em;
        @include theme.font-headline-small();
        font-weight: 700;
    }
    p {
        @include theme.font-body-large();
        margin: unset;
        font-style: italic;
    }
}

svg#page-footer-logo {
    height: 1em;
    min-width: 1em;
    min-height: 1em;
    vertical-align: bottom;
    margin-inline-end: 0.25em;

    #page-footer-logo-svg {
        --color-primary: #{theme.$primary};
        --color-secondary: #{theme.$primary-container};
        --color-circle-outer-1: #{theme.$outline};
    }
}

.footer-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
}

#footer-link-groups {
    @include theme.font-body-medium();

    ul {
        margin: unset;
        margin-block-start: 8px;
        padding: unset;
    }
}
