@use "theme/m3-color" as c;

footer#page-footer {
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-block-start: 16px;
    padding-block-end: 16px;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    border: {
        style: solid;
        color: c.$outline;
        top-width: 1px;
    }
}

.footer-link-groups {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
}