@use "sass:color";
@use "sass:map";
@use "theme";
@use "theme/m3-color" as c;
@use "theme/m3-typography" as font;
@use "theme/m3-motion" as m;
@use "common/util";
$-vmax-width: 450px;

/** POSSIBLY MOVE TO SHARED FILE **/
.article-img {
  max-width: min(400px, 75%);
  min-width: 200px;
  max-height: 75vh;
  object-fit: contain;
  object-position: 0 0;
  border-radius: 16px;
  
  @media (max-width: $-vmax-width) {
    max-width: 100%;
  }
}

// Common

@keyframes vertical-bob {
  0% { 
    translate: 0 0; 
  }
  100% { 
    translate: 0 8px;
  }
}

#about-page-grid {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  
  div#top-menu-bar {
    position: relative;
  }
}

#about-page-grid main {
  position: relative;
  height: 100%;
  top: 0;
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  
  & > section {
    scroll-snap-align: start;
    position: relative;
    min-height: 100%;
    padding: 16px;
  }
  
  & > footer {
    scroll-snap-align: start;
  }
}

.slideshow-slide {
  scroll-snap-align: start;
  position: relative;
  min-height: 100%;
  padding: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > h1, & > hgroup > h1 {
    @include font.font-display-large();
    $-line-size: 0.125em;
    text-decoration: underline $-line-size;
    margin-block-end: $-line-size;
    font-weight: 800;
  }

  & > h2, & > hgroup > h2 {
    //@include theme.font-headline-large();
    @include theme.font-display-medium();
    $-underlin-size: 0.08333em;
    //text-decoration: underline solid $-underlin-size;
    //margin-block-end: $-underlin-size;
    font-weight: 600;
    letter-spacing: 0.0625em;
  }

  & > h3, & > hgroup > h3 {
    @include theme.font-title-large();
    font-weight: 400;
    font-style: italic;
  }

  & > :first-child {
    padding-block-end: 16px;
  }
}

#welcome {
  background-color: c.$primary;
  color: c.$on-primary;

  &::after {
    content: "expand_more";
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 8px;
    $-size: 40px;
    font: {
      size: $-size;
      family: "Material Symbols Rounded";
      variation-settings: 'opsz' $-size;
      weight: 700;
    }
    line-height: 1;
    
    animation: vertical-bob map.get(m.$durations, "extra-long", 3) map.get(m.$easings, "standard", "accel") infinite alternate;
  }
  
  h1 {
    text-decoration-color: theme.$inverse-primary;
  }
  & > * {
    position: relative;
    @include m.anim-fade-in();
  }
}

#about-me-tagline {
  margin: unset;
  padding: unset;
  @include font.font-headline-medium();
  font-weight: 500;
}

// Self description

#about-me-slide {
  background-color: theme.$tertiary;
  color:         theme.$on-tertiary;
}

.about-me-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: top;
  gap: 16px;

  .description-content {
    @include theme.font-body-large();
    font-size: theme.sp(theme.typography("title", "large", "size"));

    max-width: 30em;
    min-width: 20em;
    flex: 3 1 max(60%, 20em);
  }
  
  img.about-me-portrait {
    flex: 1 2 30%;
    max-width: min(400px, 75%);
    min-width: 200px;
    max-height: 75vh;
    object-fit: contain;
    object-position: 0 0;
    border-radius: 16px;
    
    @media (max-width: $-vmax-width) {
      max-width: 100%;
    }
  }
}

/** # Skills section **/
#about-skills {
  $-on-color:    theme.$on-secondary;
  background-color: theme.$secondary;
  color: $-on-color;

  & svg {
    fill: $-on-color;
    stroke: $-on-color;
  }
}
.skills-showcase {
  @include theme.font-title-medium();
  font-weight: 400;
  $-icon-size: 64px;
  $-cell-width: max($-icon-size, 4em);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  padding: 16px;
  row-gap: 32px;

  & > li {
    display: contents;
  }
  figure.skill-item {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  svg.logo {
    width: $-icon-size;
    height: $-icon-size;
  }
}

/** # Projects page **/
#about-projects {
  background-color: theme.$tertiary;
  color:         theme.$on-tertiary;

  h3 {
    text-align: justify;
    text-align-last: justify;
  }
  
  .project-summary-card-container {
    //background-color: theme.$;
    background-color: transparent;
  }

  .project-summary-card {
    background-color: theme.$tertiary-container;
    color:         theme.$on-tertiary-container;
  }
}

.project-summary-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 12px;
  border-radius: 16px;
  padding: 16px;

  > .project-summary-card {
    flex: 1 0 0;
  }
}

.project-summary-card {
  display: flex;
  flex-direction: column;
  @include theme.font-body-medium();
  max-width: 40em;
  min-width: 20em;
  padding-block-end: 16px;

  & > img:first-child {
    min-height: 40px;
    max-height: 250px;
    height: 250px;
    object-fit: cover;
    object-position: top;
  }

  & > h2 {
    @include theme.font-title-large();
    padding-block-start: 8px;
  }

  > p:first-of-type {
    margin-block-start: unset;
  }

  .interact-section {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-block-start: auto;
  }
  .filled-button {
    align-self: end;
  }
}

/** Hacker Rank **/

#about-hackerrank {
  background-color: theme.$primary;
  color: theme.$on-primary;

  #hackerrank-description {
    // background-color: theme.$primary;
    // color:         theme.$on-primary;
    // background-color: theme.$surface-container;
    // color:         theme.$on-surface;
  }
}

#hackerrank-showcase-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;

  width: 100%;
  padding: 8px;

  & > * {
    flex: 1 0 auto;
    max-width: 700px;
  }
}

