@use "sass:map";
@use "sass:color";
@use "theme/m3-typography" as font;
@use "theme/m3-color" as c;
@use "theme/components";
@use "common/util";
$-max-width: 450px !default;
$-back-to-top-z: util.$topbar-z !default;

/** Back to top **/
a.back-to-top {
    position: fixed;
    z-index: $-back-to-top-z;
    display: flex;
    justify-content: center;
    align-items: center;
    inset-inline-end: 16px;
    inset-block-end: 16px;
    min-inline-size: 56px;
    min-block-size: 56px;
    font-size: 24px;
    text-decoration: none;
    background-color: c.$secondary-container;
    color: c.$on-secondary-container;
    border-radius: 16px;
    @include util.box-shadow-small();
    @media not screen and (max-width: $-max-width) {
        // display: none;
        opacity: 75%;
    }
    
    &:hover {
        background-color: c.apply-tint(c.$secondary-container);
        opacity: 100%;
    }
}

/** Hamburger Menu **/
input[type="checkbox"][class|="menu-toggle"] {
    display: none;
    
    &:checked ~ {
        label.nav-menu-label-checked {
            display: none;
            @media (max-width: $-max-width) {
                display: flex;
            }
        }
        label.nav-menu-label-unchecked {
            display: none;
            // display: flex;
            @media (max-width: $-max-width) {
                display: none;
            }
        }
        nav.nav-menu-bar {
            display: none;
            @media (max-width: $-max-width) {
                display: flex;
            }
        }
    }
    &:not(&:checked) ~ {
        label.nav-menu-label-checked {
            display: none;
            // display: flex;
            @media (max-width: $-max-width) {
                display: none;
            }
        }
        label.nav-menu-label-unchecked {
            display: none;
            @media (max-width: $-max-width) {
                display: flex;
            }
        }
        nav.nav-menu-bar {
            display: flex;
            @media (max-width: $-max-width) {
                display: none;
            }
        }
    }
}

label[class|="nav-menu-label"] {
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    min-inline-size: components.$min-interact-width;
    min-block-size: components.$min-interact-height;
    
    &:hover {
        cursor: pointer;
    }
}

/** Normal **/

.top-menu-bar {
    position: sticky;
    top: 0;
    z-index: util.$topbar-z;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    width: 100%;

    background-color: c.$surface;
    color: c.$on-surface;

    @media (max-width: $-max-width) {
        position: relative;
        flex-direction: column;
        align-items: center;
        // background-color: transparent;
    }
}

.favlogo {
    display: inline-block;
    $-s: 48px;
    max-height: min(100%, $-s);
    max-width: min(100%, $-s);
    padding: 8px;
    object-fit: contain;
    @include util.filter-shadow-small();
}

.nav-menu-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    
    @media (max-width: $-max-width) {
        flex-direction: column;
    }
}

.nav-item {
    flex-grow: 1;

    a {
        text-decoration: none;
    }

    @media (min-width: $-max-width) {
        &:not(:last-child) {
            margin-inline-end: 8px;
        }
        &:hover .nav-icon {
            background-color: c.apply-tint(transparent);
        }
        &:hover a.current-nav .nav-icon {
            background-color: c.apply-tint(c.$secondary-container);
        }
    }
    @media (max-width: $-max-width) {
        &:hover .nav-item-content {
            background-color: c.apply-tint(transparent);
        }
        &:hover a.current-nav .nav-item-content {
            background-color: c.apply-tint(c.$secondary-container);
        }
    }
}

a.current-nav {
    .nav-icon {
        background-color: c.$secondary-container;
        color: c.$on-secondary-container;

        .material-symbols-rounded {
            font-variation-settings: 'FILL' 1;
        }
    }
    
    .nav-label {
        font-weight: font.typography("label", "large", "weight-prominent");
    }
    
    @media (max-width: $-max-width) {
        .nav-item-content {
            background-color: c.$secondary-container;
            color: c.$on-secondary-container;
        }
        .nav-icon {
            background-color: transparent;
        }
    }
}
    
.nav-item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    min-width:  components.$min-interact-width;
    min-height: components.$min-interact-height;
    padding: {
        top: 12px;
        bottom: 16px;
    }
    
    @media (max-width: $-max-width) {
        flex-direction: row;
        justify-content: flex-start;
        border-radius: 32px;
        margin-inline-start: 12px;
        margin-inline-end: 12px;
    }
    
    .nav-icon {
        border-radius: 16px;
        text-align: center;
        @media (min-width: $-max-width) {
            height: 32px;
            width: 64px;
        }
        @media (max-width: $-max-width) {
            padding-inline-start: 16px;
            padding-inline-end: 12px;
        }
    }
    
    .material-symbols-rounded {
        width: 24px;
        height: 24px;
        font-size: 24px;
        line-height: normal;
    }
    
    .nav-label {
        @include font.font-label-large();
        padding-top: 4px;
        color: c.$on-surface;
    }
}
