@use "sass:map";
@use "sass:color";
@use "theme";
@use "theme/components";
@use "common/util";
$-max-width: 450px !default;
$-back-to-top-z: util.$topbar-z !default;

/** Hamburger Menu **/
input.menu-toggle[type="checkbox"] {
  display: none;
  
  &:checked ~ {
    label.nav-menu-label > span:only-child::after {
      content: 'close';
    }
  }
  &:not(&:checked) ~ {
    label.nav-menu-label > span:only-child::after {
      content: 'menu';
    }

    @media (max-width: $-max-width) {
      nav.nav-menu-bar {
        display: none;
      }
    }
  }
}

label.nav-menu-label {
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  min-inline-size: components.$min-interact-width;
  min-block-size: components.$min-interact-height;
  
  &:hover {
    cursor: pointer;
  }
  @media (width > $-max-width) {
    display: none;
  }
}

/** Normal **/

.top-menu-bar {
  position: sticky;
  top: 0;
  z-index: util.$topbar-z;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  width: 100%;

  background-color: theme.$surface;
  color: theme.$on-surface;

  @media (max-width: $-max-width) {
    position: relative;
    flex-direction: column;
    align-items: center;
    // background-color: transparent;
  }
}

.nav-menu-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 8px;
  width: 100%;
  max-width: 100%;
  
  @media (max-width: $-max-width) {
    flex-direction: column;
  }
}

a.nav-item {
  flex-grow: 1;
  text-decoration: none;

  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  min-width:  components.$min-interact-width;
  min-height: components.$min-interact-height;
  padding-block-start: 12px;
  padding-block-end: 16px;

  isolation: isolate;

  row-gap: 4px;
  column-gap: 8px;

  $-active-bg: theme.$secondary-container;
  $-active-fg: theme.$on-secondary-container;

  @media (width <= $-max-width) {
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 12px;
    border-color: transparent;
    border-style: solid;
    border-inline-width: 12px;
    padding-inline: 16px;
    padding-block: 16px;

    &.current-nav::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $-active-bg;
      color: $-active-fg;
      border-radius: 100vmax;
      z-index: -1;
      mix-blend-mode: hard-light;
    }

    &:hover::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $-active-fg;
      mix-blend-mode: hard-light;
      opacity: 0.08;
      border-radius: 100vmax;
    }
  }
  @media (width > $-max-width) {
    .nav-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100vmax;
      min-width: 64px;
      min-height: 32px;
    }
    &.current-nav .nav-icon {
      background-color: $-active-bg;
      color: $-active-fg;
    }
    &:hover .nav-icon::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $-active-fg;
      mix-blend-mode: hard-light;
      opacity: 0.08;
      border-radius: 100vmax;
    }
  }
  
  .nav-icon {
    position: relative;
    text-align: center;
    $-icon-size: 24px;
    font-size: $-icon-size;
    line-height: 1;
    width: $-icon-size;
    height: $-icon-size;
  }
  
  .nav-label {
    @include theme.font-label-medium();
    color: theme.$on-surface;
    @media (max-width: $-max-width) {
      @include theme.font-label-large();
    }
  }
}

a.current-nav {
  .nav-icon {
    background-color: theme.$secondary-container;
    color: theme.$on-secondary-container;

    .material-symbols-rounded {
      font-variation-settings: 'FILL' 1;
    }
  }
  
  .nav-label {
    font-weight: theme.typography("label", "large", "weight-prominent");
  }
  
  @media (max-width: $-max-width) {
    .nav-item-content {
      background-color: theme.$secondary-container;
      color: theme.$on-secondary-container;
    }
    .nav-icon {
      background-color: transparent;
    }
  }
}
  
