@use "theme";
@use "common/util";

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: theme.$surface;
    color: theme.$on-surface;
    padding-block-end: 16px;
}

header.page-header {
    padding: {
        block-start: 4px;
        block-end: 4px;
        inline-start: 16px;
        inline-end: 16px;
    }
}

.page-title {
    padding: 0;
    @include theme.font-display-medium();
    font-weight: 700;
    text-transform: uppercase;
}

.page-subtitle {
    @include theme.font-title-medium();
    line-height: 1;
    font-weight: 400;
    font-style: italic;
    text-align: left;
    padding-bottom: 14px;
}
