@use "theme";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, /*header,*/ hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
  box-sizing: border-box;
}
/* Styles */

header {
  border-radius: 8px;

  h1 {
    @include theme.font-headline-large();
    font-weight: 700;
    text-align: center;

    $-pad: 16px;
    padding-block-end: $-pad;
    padding-block-start: $-pad;
  }

  h2 {
    @include theme.font-headline-small();
    font-weight: 500;
    text-align: center;
  }
}

footer {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

body {
  @include theme.font-body-large();
  
  color: theme.$on-background;
  background-color: theme.$background;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 600;

  &:not([class]), &.link {
    &[target="_blank"]::after {
      content: "open_in_new";
      @include theme.material-symbols-rounded();
      font-size: 1.28571em;
      vertical-align: middle;
      padding-inline-start: 0.09722ch;
    }
  }
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font: {
    family: theme.typography("headline", "large", "family");
    weight: 700;
  }
}

h1 {
  @include theme.font-display-large();
  // font-size: 1.85em;
  // line-height: 1.2;
}

h2 {
  @include theme.font-headline-large();
  // font-size: 1.58em;
  // line-height: 1.2;
}

h3 {
  @include theme.font-title-large();
  // font-size: 1.45em;
}

p {
  margin: .7em 0;
  max-width: 40em;
}

hgroup {
  & > p:only-of-type {
    margin: 0 0;
  }
}

code {
  @include theme.font-code-small();
  font-size: inherit;
  $-pad: 4px;
  padding: $-pad;
  border-radius: $-pad;
  background-color: theme.$secondary-container;
  color: theme.$on-secondary-container;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

ol, ul {
  margin: .7em 0;
  padding-left: 1.35em;
  text-align: start;
}

ol {
  list-style-type: decimal;
}

label {
  padding: 0;
  margin: 0;
  border: 0;
  background: inherit;
}

section#main-content {
  $-pad: 16px;
  padding: {
    left: $-pad;
    right: $-pad;
    bottom: 32px;
  }
}
