@use "theme/font";
@use "theme/m3-color" as c;
@use "common/util";
@use "sass:color";

@mixin clear-spacing {
    margin: 0;
	padding: 0;
	border: 0;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, /*header,*/ hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
}
/* Styles */
header.page-header {
    display: inline-block;
    max-width: 100%;
    width: 100%;
    padding: {
        block-start: 4px;
        block-end: 4px;
        inline-start: 16px;
        inline-end: 16px;
    }
    background-color: c.$primary-container;

    h1 {
        font: {
            size: 4.5rem;
            weight: bolder;
            style: normal;
        }
        line-height: 4.5rem;
        text-transform: uppercase;
        color: c.$on-primary-container;
        @include util.text-shadow-prominent();
    }
    
    h2 {
        font: {
            size: 1.125rem;
            weight: 500;
            style: italic;
            family: font.$sub-hx-family;
        }
        line-height: 1.5;
        text-align: center;
        color: c.$on-primary-container;
        padding-bottom: 14px;
        margin-top: -3px;
    }
}

header {
    border-radius: 8px;

    h1 {
        @include font.font-headline-large();
        font-weight: 600;
        text-align: center;

        $-thick: 0.125em;
        text-decoration: {
            line: underline;
            style: solid;
            color: c.$primary;
            thickness: $-thick;
        };
        $-pad: 16px;
        padding-block-end: calc($-pad + $-thick);
        padding-block-start: $-pad;
    }

    h2 {
        @include font.font-headline-small();
        font-weight: 500;
        text-align: center;
    }
}

footer {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

body {
    font: {
        family: font.$default-family;
        size: font.$default-size;
        line-height: font.$default-line-height;
    }
    
    color: c.$on-background;
    background-color: c.$background;
    -webkit-font-smoothing: antialiased;
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font: {
        family: font.$hx-family;
        weight: bold;
    }
}

h1 {
    font-size: 1.85em;
    line-height: 1.2;
}

h2 {
    font-size: 1.58em;
    line-height: 1.2;
}

h3 {
    font-size: 1.45em;
}

p {
    margin: .7em 0;
    max-width: 60em;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

ol, ul {
    margin: .7em 0;
    padding-left: 1.35em;
    text-align: start;
}

ol {
    list-style-type: decimal;
}

table {
    display: table;
    background: c.$surface-container;
    max-width: 100%;
    border: {
        collapse: separate;
        bottom: 2px solid c.$outline;
    }
    margin: {
        top: 10px;
        bottom: 10px;
    }
}

tr {
    display: table-row;
    
    &:last-child td {
        border-bottom: none;
    }
    
    &:nth-child(even) {
        background-color: c.$surface-container-high;
    }
    
    &:hover, &:hover td, &:hover th {
        background-color: color.adjust(c.$tertiary, $alpha: .01, $lightness: 30%);
        border-color: color.adjust(c.$tertiary, $alpha: .01, $lightness: 30%);
    }
}

thead {
    display: table-header-group;
    background-color: c.$surface-container-high;
}

th {
    display: table-cell;
    padding: 2px 10px;
    vertical-align: middle;
    border: {
        style: solid;
        color: c.$surface;
        top-width: 0;
        bottom-width: 0;
        left-width: 1px;
        right-width: 1px;
    }
    color: c.$secondary;
    font: {
        family: font.$hx-family-sans;
        weight: bold;
    }

    &:last-child {
        border-right: none;
    }
}

td {
    display: table-cell;
    padding: 0 .7em;
    border: {
        style: solid;
        color: c.$surface;
        top-width: 0;
        bottom-width: 0;
        left-width: 1px;
        right-width: 1px;
    }
    
    &:last-child {
        border-right: none;
    }
}

label {
    background: inherit;
    @include clear-spacing();
}

section#main-content {
    $-pad: 16px;
    padding: {
        left: $-pad;
        right: $-pad;
        bottom: 32px;
    }
}
