@use "font";
@use "m3-color" as c;

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
}
/* Styles */

header {
    h1 {
        font: {
            size: 2.5rem;
            weight: bolder;
            style: normal;
        }
        line-height: 1;
        text-transform: uppercase;
        text-align: center;
        color: c.$on-primary;
        background-color: c.$primary;
        padding: {
            top: 14px;
            right: 20px;
            left: 20px;
            bottom: 0px;
        }
    }
    
    h2 {
        font: {
            size: .85rem;
            weight: bold;
            style: italic;
        }
        line-height: 1.5;
        text-align: center;
        color: c.$on-primary-alt;
        padding-bottom: 14px;
        margin-top: -3px;
    }
}

footer {
    max-width: 100%;
    position: relative;
    box-sizing: border-box;
    text-align: center;

    p {
        font: {
            weight: font.$weight-medium;
            size: .8rem;
        }
    }
}

body {
    font: {
        family: font.$default-family;
        size: font.$default-size;
        line-height: font.$default-line-height;
    }
    
    color: c.$on-surface;
    background-color: c.$surface;
    -webkit-font-smoothing: antialiased;
}

a, a:hover {
    color: c.$on-surface-alt;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font: {
        family: font.$hx-family;
        weight: bold;
    }
}

p {
    margin: .7em 0;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

ol, ul {
    margin: .7em 0;
    padding-left: 1.35em;
}

ol {
    list-style-type: decimal;
}
