---
---
@use "sass:map";
@use "theme";

$-typography-families: (
  {%- assign sizes="small,medium,large" | split: "," -%}
  {% for group in site.data.fonts.typography-groups %}
    "{{ group }}": (
    {%- for size in sizes -%}
      {%- assign families="" | split: "," -%}
      {%- for font in site.data.fonts.families -%}
        {%- for g in font.groups -%}
          {%- if g.name == group or g.name == "all" -%}
            {%- assign s=g.sizes | join: "," -%}
            {%- if s contains size or s == empty -%}
              {%- capture family -%}
              "{{ font.family }}"
              {%- endcapture -%}
              {%- assign families=families | push: family -%}
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
      {%- endfor %}
      "{{ size }}": (
          "family": ({{ families | join: ", " }})
      )
      {%- unless forloop.last -%} , {%- endunless -%}
    {%- endfor %}
    )
    {%- unless forloop.last -%} , {%- endunless -%}
  {% endfor %}
);

$-typography-init: (
    "display": (
        "large": (
            "size": 57,
            "weight": 600,
        ),
        "medium": (
            "size": 45,
        ),
        "small": (
            "size": 36,
        ),
    ),
    "headline": (
        "large": (
            "size": 32,
            "weight": 500,
        ),
        "medium": (
            "size": 28,
        ),
        "small": (
            "size": 24,
        ),
    ),
    "title": (
        "large": (
            "size": 22,
            "weight": 500, //400,
        ),
        "medium": (
            "size": 16,
            "weight": 500,
        ),
        "small": (
            "size": 14,
            "weight": 500,
        ),
    ),
    "body": (
        "large": (
            "size": 16,
        ),
        "medium": (
            "size": 14,
        ),
        "small": (
            "size": 12,
        ),
    ),
    "label": (
        "large": (
            "size": 14,
            "weight": 500,
            "weight-prominent": 700,
        ),
        "medium": (
            "size": 12,
            "weight": 500,
            "weight-prominent": 700,
        ),
        "small": (
            "size": 11,
            "weight": 500,
        ),
    ),
    "code": (
        "large": (
            "size": 16,
        ),
        "medium": (
            "size": 14,
        ),
        "small": (
            "size": 12,
        ),
    ),
);

$-typography: map.deep-merge($-typography-families, $-typography-init);

:root {
  @include theme.set-typescale($-typography);
}

