---
---

$alt-primary-color: #CD596B;
$alt-primary-surface-color: #F1F1F1;

.click-container {
    position: relative;
}

.click-image {
    display: block;
    max-width: 100%;
    height: auto;
}

.click-overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    width: 0;
    height: 100%;
    background-color: $alt-primary-color;
    overflow: hidden;
    transition: 0.5s ease;
}

.click-container:hover .click-overlay {
    width: 100%;
    left: 0;
}

.click-overlay-text {
    color: $alt-primary-surface-color;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
