---
---
@use "theme/font" with(
    $-serifs: (
    {%- for font in site.data.fonts.serif -%}
    "{{ font.family}}",
    {%- endfor -%}
),
    $-sans-serifs: (
    {%- for font in site.data.fonts.sans-serif -%}
    "{{ font.family}}",
    {%- endfor -%}
    )
);
@use "sass:math";
@use "screen";
@use "theme/m3-icon";
@use "common/dropdown";
@use "footer";
@use "nav-bar";
@use "about";
@use "topbar";
@use "img-link";
// @use "hackerrank/works-flex";
@use "hackerrank/certificates";
@use "hackerrank/badges";

#main_content {
    max-width: min(100%, 800px);
    margin: auto;
    padding: {
        top: 16px;
        bottom: 16px;
    }
}
