---
---
@use "sass:math";
@use "topbar";

#main_content {
    max-width: min(100%, 800px);
    margin: auto;
    padding: {
        top: 16px;
        bottom: 16px;
    }
}

// Footer

footer {
    .content {
        position: relative;
        box-sizing: border-box;
        max-width: 100%;

        border-top: {
            style: double;
            width: 1px;
        }
    }
}
