---
layout: page
title: Progress
subtitle: "A collection of certificates and achievements in HackerRank"
---
<article class="badges-container">
  <hgroup>
    <h1>Badges</h1>
  </hgroup>
  <section class="badges-content completed">
    {% assign completed = site.data.hackerrank.topics | where: "completed", "true" %}
    {% for topic in completed %}
    <a href="{{ topic.leaderboard-url }}" target="_blank" class="badge-item">
      <span class="badge-item-icon">
        <span class="material-symbols-rounded">social_leaderboard</span>
        <svg class="badge-svg-outline" viewBox="0 0 100 100">
          <use id="badge-svg-2" href="/assets/svg/hexagon.svg#svg1" width="100%" height="100%"/>
        </svg>
        <svg class="badge-svg" viewBox="0 0 100 100">
          <use id="badge-svg-1" href="/assets/svg/hexagon.svg#svg1" width="100%" height="100%"/>
        </svg>
      </span>
      <strong class="badge-item-name">{{ topic.name }}</strong>
      <em class="badge-item-detail">{{ topic.primary-lang }}</em>
    </a>
    {% endfor %}
  </section>
  <section class="badges-content ongoing">
    {% assign completed = site.data.hackerrank.topics | where: "completed", "false" %}
    {% for topic in completed %}
    <a href="{{ topic.leaderboard-url }}" target="_blank" class="badge-item">
      <span class="badge-item-icon">
        <span class="material-symbols-rounded">social_leaderboard</span>
        <svg class="badge-svg-outline" viewBox="0 0 100 100">
          <use id="badge-svg-2" href="/assets/svg/hexagon.svg#svg1" width="100%" height="100%"/>
        </svg>
        <svg class="badge-svg" viewBox="0 0 100 100">
          <use id="badge-svg-1" href="/assets/svg/hexagon.svg#svg1" width="100%" height="100%"/>
        </svg>
      </span>
      <strong class="badge-item-name">{{ topic.name }}</strong>
      <em class="badge-item-detail">{{ topic.primary-lang }}</em>
    </a>
    {% endfor %}
  </section>
</article>

