<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width initial-scale=1.0">

    {% include head/fonts.html %}
    {% include head/symbols.html %}

    <link rel="stylesheet" href="/assets/css/theme/typography.css">
    <link rel="stylesheet" href="/assets/css/theme/color.css">

    <link rel="stylesheet" href="/assets/css/default.css">
    <link rel="icon" type="image/x-icon" href="/assets/svg/favicon-light.svg">

    <title>John Tuesday Picot | {{ page.title }}</title>

    {%- for stylesheet in page.head.stylesheets -%}
      <link rel="stylesheet" href="{{ stylesheet }}">
    {%- endfor -%}
    {%- for script in page.head.scripts -%}
      <script src="{{ script.src }}" defer></script>
    {%- endfor -%}

  </head>

  <body>
    {{ content }}
  </body>
</html>
