@use "theme";

.filled-button {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  @include theme.font-label-large();
  background-color: theme.$primary;
  color: theme.$on-primary;
  border-radius: 20px;
  height: 40px;
  min-width: 48px;
  padding-inline: 24px;

  overflow: clip;

  &:hover {
    text-decoration: none;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: theme.apply-tint(transparent);
    }
  }
}

.text-button {
  @extend .filled-button;
  background-color: transparent;
  color: theme.$primary;
  padding-inline: 12px;
}

.card {
  border-radius: 12px;

  & > img:first-child {
    border-radius: inherit;
    width: 100%;
  }

  & > :not(:first-child) {
    margin-inline-start: 16px;
    margin-inline-end: 16px;
  }
}

.project-summary-card {

  & > h2 {
    @include theme.font-title-large();
    padding-block-start: 8px;
  }

  & > img:first-child {
    min-height: 40px;
    max-height: 250px;
    height: 250px;
    object-fit: cover;
    object-position: top;
  }

  dl {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    align-items: baseline;
    @include theme.font-label-large();

    dt {
      flex: 0 0 auto;
      display: inline;
      font-weight: 700;
    }

    dd {
      flex: auto;
      display: inline-block;
      font-weight: 400;
      font-style: italic;

      &::after {
        content: '';
        display: block;
      }
    }
  }
}

