
@mixin ribbon-part($z: null, $is-top, $is-left, $pad: 4px) {
    $angle: 45deg;
    @if $is-top {
        top: 0;
    } @else {
        $angle: -$angle;
        bottom: 0;
    }
    @if $is-left {
    } @else {
        $angle: -$angle;
    }

    @if $z {
        z-index: $z;
    }

    position: absolute;
    height: 50%;
    width: calc( (100% * 2 / 3) + $pad);
    transform: translate(0px, 0) skew($angle, 0deg);
}

@mixin -ribbon-side($name, $z: null, $is-left, $pad: 4px) {
    #{$name}-bottom {
        @include ribbon-part($z, $is-top: false, $is-left: $is-left, $pad: $pad);
        @content;
    }
    #{$name}-top {
        @include ribbon-part($z, $is-top: true, $is-left: $is-left);
        @content;
    }
}
@mixin ribbon-left($name, $z: null, $pad: 4px) {
    @include -ribbon-side($name, $z, $is-left: true, $pad: $pad) {
        @content;
    }
}
@mixin ribbon-right($name, $z: null, $pad: 4px) {
    @include -ribbon-side($name, $z, $is-left: false, $pad: $pad) {
        @content;
    }
}
