@use "theme/m3-color" as c;

// Sizes
$min-interact-height: 48px;
$min-interact-width: 48px;
$outline-width: 1px;

// Shadow
$shadow-h-offset: 2px;
$shadow-v-offset: 2px;
$shadow-blur: 1px;

@mixin -shadow($type, $h-offset, $v-offset, $blur, $color: c.$shadow-25) {
    @if $type == "text" {
        text-shadow: $h-offset $v-offset $blur $color;
    } @else if $type == "filter" {
        filter: drop-shadow($h-offset $v-offset $blur $color)
    } @else if $type == "box" {
        box-shadow: $h-offset $v-offset $blur $color;
    }
}

@mixin text-shadow-small {
    @include -shadow("text", $shadow-h-offset, $shadow-v-offset, $shadow-blur);
}
@mixin filter-shadow-small {
    @include -shadow("filter", $shadow-h-offset, $shadow-v-offset, $shadow-blur);
}
@mixin box-shadow-small {
    @include -shadow("box", $shadow-h-offset, $shadow-v-offset, $shadow-blur);
}

// Z-index
$topbar-z: 10;
$topbar-menu-content-z: 9;

// Duration
$normal-trans-dur: 0.25s;
